<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
  function iframeLoaded(that) { //console.log($('#OneDriveViewframe').parent().width());// // console.log(that.contentWindow.document.body.scrollHeight);//console.log($('#idIframe').scrollHeight;//
    var ViewId=that.id;
    console.log('enter ');
    console.log(ViewId);
    $('#'+ViewId).width($('#'+ViewId).parent().width());  
    //$('#OneDriveViewframe').width($('#OneDriveViewframe').parent().width());
  }
</script> 
<iframe id="{{ include.RecordId }}"  
        src="{{ include.id }}"  
        onload="iframeLoaded(this)"
        height="{{ include.height }}"  
        frameborder="0" scrolling="no"></iframe> 
