<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
  function iframeLoaded(that) {
      // console.log(that.contentWindow.document.body.scrollHeight);//console.log($('#idIframe').scrollHeight;//
      console.log($('#OneDriveViewframe').parent().width());//
      //$('#idIframe').width($('#OneDriveViewframe').parent().width());
      
  }
</script> 
<iframe id="OneDriveViewframe" src="{{ include.id }}"   onload="iframeLoaded(this)"  height="500" frameborder="0" scrolling="no"></iframe> 
